body
{
	background-color: lightblue;
	font-size: 20px;
	color: white;
	margin: 0px;
}

#logo
{
	background-color: black;
	width: 100%;
	height: 65px;
	text-align:left;
	color: white;
	padding:5px 0px 5px 0px;
	
}

#przycisk
{
	width: 85px;
	height: 25px;
	background-color: orange;
	color: white;
	border: 1px solid;
	border-radius: 5px;
	-moz-border-radius: 7px;
    -webkit-border-radius: 7px;
	float: right;
	margin-top: -65px;
	font-weight: bold;
	font-size:15px;
	text-align: center;
	text-decoration: none;
	padding: 0xp 5xp 0xp 5xp;
	cursor:pointer;
	text-transform: uppercase;
	
	text-shadow: 0 1px 2px rgba(255, 255, 255, 0.7), 
0 -1px 0 rgba(64, 38, 5, 0.9);

    -moz-box-shadow: inset 0 0 3px rgba(255, 255, 255, 0.6), 
inset 0 1px 2px rgba(255, 255, 255, 0.7), 
0 5px 0 lightgreen, 0 6px 0 lightgreen, 0 10px 2px #ccc;

    -webkit-transition: background 0.2s ease-out;
	

}

#przycisk:active{
    background: #f6a000;
    position: relative;
    top: 5px;
    border: 1px solid ;

    -moz-box-shadow: inset 0 0 3px rgba(255, 255, 255, 0.6), 
inset 0 1px 2px rgba(255, 255, 255, 0.7), 
0 3px 0 #b8882a, 0 4px 0 #593a11, 0 8px 0 #ccc;

   

   
} 

#przycisk:hover
{
	background-color: lightgreen;
}

#przycisk2
{
	width: 85px;
	height: 25px;
	background-color: blue;
	color: white;
	border: 1px solid;
	border-radius: 5px;
	-moz-border-radius: 7px;
    -webkit-border-radius: 7px;
	float: bottom;
	float: right;
	margin-top: -30px;
	font-weight: bold;
	font-size:15px;
    text-align: center;
	text-decoration: none;
	padding: 0xp 5xp 0xp 5xp;
	cursor:pointer;
	text-transform: uppercase;
	
    text-shadow: 0 1px 2px rgba(255, 255, 255, 0.7), 
0 -1px 0 rgba(64, 38, 5, 0.9);

    -moz-box-shadow: inset 0 0 3px rgba(255, 255, 255, 0.6), 
inset 0 1px 2px rgba(255, 255, 255, 0.7), 
0 5px 0 lightgrey, 0 6px 0 lightgrey, 0 10px 2px #ccc;

 
    -webkit-transition: background 0.2s ease-out;
	

}

#przycisk2:active{
    background: #f6a000;
    position: relative;
    top: 5px;
    border: 1px solid ;

    -moz-box-shadow: inset 0 0 3px rgba(255, 255, 255, 0.6), 
inset 0 1px 2px rgba(255, 255, 255, 0.7), 
0 3px 0 #b8882a, 0 4px 0 #593a11, 0 8px 0 #ccc;

   
} 

#przycisk2:hover
{
	background-color: red;
}
.header
{
	text-align: center;
	margin-top: 30px;
	padding:5px;
	color:black;
}
p{
color:white;
}

form{
	text-align: center;
}

input[type=email]
{
	width: 300px;
	background-color: white;
	color: lightgrey;
	border: none;
	border-radius: 5px;
	font-size: 15px;
	padding: 20px;
	box-sizing: border-box;
	outline: none;
	
}

input
{
	width: 300px;
	background-color: white;
	color: lightgrey;
	border: none;
	border-radius: 5px;
	font-size: 15px;
	padding: 20px;
	box-sizing: border-box;
	outline: none;
	
}
input[type=Password]
{
	width: 300px;
	background-color: white;
	color: lightgrey;
	border: none;
	border-radius: 5px;
	font-size: 15px;
	padding: 20px;
	box-sizing: border-box;
	outline: none;
	
}

#Choose 
{
	width: 300px;
	background-color: white;
	color: lightgrey;
	border: none;
	border-radius: 5px;
	font-size: 15px;
	padding: 20px;
	box-sizing: border-box;
	outline: none;
	
} 

button[type=submit]
{
	width: 300px;
	background-color: grey;
	color: white;
	border: none;
	border-radius: 5px;
	font-size: 15px;
	padding: 10px 5px;
	box-sizing: border-box;
	cursor:pointer;

}

button[type=submit]:hover
{
	background-color: lightgreen;
}


button::-webkit-input-placeholder
 {
	color: lightgrey;
}

